<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>
<h3>Add a cupcake</h3>
<form method="post" action="/api/cupcakes" id="cupcake-form">
  <label for="flavor">Flavor</label>
  <input id="flavor" name="flavor" type="text">
  <label for="size">Size</label>
  <input id="size" name="size" type="text">
  <label for="rating">Rating</label>
  <input id="rating" name="rating" type="number">
  <label for="image_url">Image URL</label>
  <input id="image_url" name="image_url" type="text">
  <button>Submit</button>
</form>

<h3>Our cupcakes:</h3>
<ul id="cupcake-list">

</ul>
<script src="https://unpkg.com/jquery"></script>
<script src="static/script.js"></script>
</body>
</html>